name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]

env:
  PORT: 4003
jobs:
  test_project:
    env:
      PassWord: sskm_lolo_pro
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          pytest -v
      - name: Upload Report Txt
        uses: actions/upload-artifact@v5
        with:
          name: Report_Of_Test
          path: report.txt
      - name: print env
        run: |
          echo "PORT: ${{env.PORT}}"
          echo "PassWord: ${{ env.PassWord }}"
  run_project:
    needs: test_project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run the project
        run: |
          echo "Running the project..."
      - name: print env
        run: |
          echo "PORT: ${{env.PORT}}"

  show_report:
    needs: test_project
    runs-on: ubuntu-latest
    steps:
      - name: Download Report Txt
        uses: actions/download-artifact@v5
        with:
          name: Report_Of_Test
